<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="description" content="Login">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
      <!-- Call App Mode on ios devices -->
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <!-- Remove Tap Highlight on Windows Phone IE -->
      <meta name="msapplication-tap-highlight" content="no">
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Forget Password</title>
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/login/vendors.bundle.css") %>" />
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/login/default.css") %>" />
        <link rel="stylesheet" media="screen, print" href="<%= Routes.static_path(@conn, "/css/login/app.bundle.css") %>" />
		<link href="/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="page-wrapper">
            <div class="page-inner bg-brand-gradient">
                <div class="page-content-wrapper bg-transparent m-0" style="background-color: #282a3c;">
                    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient" style="background-color: #282a3c;">
                        <div class="d-flex align-items-center container p-0">
                            <div class="pull-left text-left"  style="height: 100%; vertical-aling: center; padding-top: 12px;">
								<a href="#"  target='_blank' class="page-logo-link press-scale-down d-flex align-items-center position-relative">
								</a>
                            </div>
                            <a href="/" width="98px" height="40px" class="btn-link text-white ml-auto">
                                Go to Login
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-1" style="background: url(/images/pattern-1.svg) no-repeat center bottom fixed; background-size: cover; background-color: #282a3c;">
                        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0 text-white d-flex align-items-center justify-content-center">
                            <form id="js-login" action="<%= Routes.user_path(@conn, :token)%>" method="POST" role="form" class="text-center text-white mb-5 pb-5" autocomplete="off" method="POST">
                                <div class="py-3">
                                    <img src="/images/avatar-m.png" width="98px" height="40px" class="img-responsive rounded-circle img-thumbnail" alt="thumbnail">
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-2">
                                        <div class="form-group">
                                            <%= if get_flash(@conn, :info) do %>
                                                <span class="text-danger fw-300"> Congrats...<%= get_flash(@conn, :info) %></span>
                                            <% end %>
                                            <%= if get_flash(@conn, :error) do %>
                                                <span class="text-danger fw-300"> Oops! <%= get_flash(@conn, :error) %></span>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>

                                    </h3>
                                    <p class="text-white opacity-50">Forget Password</p>
                                    <div class="input-group input-group-lg">
                                        <input type="text" name="user[email]" class="form-control" placeholder="Your email" required>
										<input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token()%>">
                                        <div class="input-group-append">
                                            <button class="btn btn-success shadow-0" type="submit" id="button-addon5"><i class="la la-key"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="" class="text-white opacity-90">Password recovery. You'll receive instructions in email</a>
                                </div>
                            </form>
                            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                                © <%= Timex.today.year %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/vendors.bundle.js"></script>
        <script src="/js/app.bundle.js"></script>
    </body>
</html>
